body {
    font-family: 'Droid Sans', sans-serif;
}

h1 {
    font-size: 24pt;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.vcontainer {
    height: 100%;
}

#page-content {
    background-color: rgb(220,220,220);
    border-right-style: solid;
    border-left-style: solid;
    border-width: 2px;
    border-color: rgb(200,200,200);
}

#header-name-content {
    height: 96px;
}

#sarah-miller {
    height: 96px;
    padding-top: 40px;
    color: black;
    text-transform: uppercase;
    font-size: 32pt;
    font-weight: 900;
    padding-left: 5px;
}

#header-name-sarah {
    letter-spacing: -1pt;
}

#header-name-miller {
    letter-spacing: -3pt;
}

#header-option {
    height: 96px;
    padding-top: 76px;
    color: rgb(140,140,140);
    text-align: right;
    letter-spacing: 6pt;
}

#header-image-content {
    height: 200px;
    background-image: url("images/image.jpg");
    background-size: cover;
    background-position: 0 -120px;
}

#navbar > ul > li {
    padding: 10px;
    color: white;
}

#navbar > ul {
    list-style-type: none;
    font-size: 14pt;
    font-weight: 900;
    margin: 10px 10px 10px 10px;
    background-color: rgb(120,120,120);
    letter-spacing: -1.5pt;
}

#page-text {
    background-color: rgb(210,210,210);
    margin: 10px 10px 10px 10px;
    padding: 10px 20px 10px 10px;
}

#page-text ul {
    list-style-type: none;
    margin-left: 15px;
}

#page-text p {
    margin-left: 10px;
    font-family: arvo;
}

#footer-content {
    height: 128px;
    text-align: center;
    padding-top: 40px;
    color: rgb(120,120,120);
    font-size: 10px;
}

#footer-content :first-child {
    font-weight: bold;
    font-size: 14px;
}

#footer {
    background-color: rgb(20,20,20);
}
