body {
    font-family: 'Droid Sans', sans-serif;
}

h1 {
    font-size: 24pt;
    color: rgb(50,50,50);
    font-family: 'Droid Sans', sans-serif;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.vcontainer {
    height: 100%;
}

#pager-container {
    background-image: url("images/white-noise.png");  
}

#page-content {
    background-image: url("images/grey-noise.png");
    border-right-style: solid;
    border-left-style: solid;
    border-width: 2px;
    border-color: rgb(200,200,200);
    box-shadow: 0 0 20px rgb(50,50,50);
}

#color-bar-top {
    min-height: 8px;
    background-image: url("images/blue-hatch.png");
}

#header-name-content {
    height: 88px;
}

#sarah-miller {
    height: 88px;
    padding-top: 31px;
    color: rgb(20,20,20);
    text-transform: uppercase;
    font-size: 32pt;
    font-weight: 900;
    padding-left: 5px;
}

#header-name-sarah {
    letter-spacing: -1pt;
}

#header-name-miller {
    letter-spacing: -3pt;
}

#header-option {
    height: 88px;
    padding-top: 68px;
    color: rgb(140,140,140);
    text-align: right;
    letter-spacing: 6pt;
}

#header-image-content {
    height: 200px;
    background-image: url("images/glacier.jpg");
    background-size: cover;
    background-position: 0 -120px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 2px;
    border-color: rgb(200,200,200);
}

#main-container {

}

#navbar {
    margin: 2px 0 0 2px;
}

#navbar > ul > li {
    padding: 10px;
    color: white;
}

#navbar > ul {
    list-style-type: none;
    font-size: 14pt;
    font-weight: 900;
    margin: 12px 12px 12px 12px;
    background-image: url("images/hatch1.png");
    letter-spacing: -1.5pt;
    box-shadow: inset 0 0 20px rgb(20,20,20);
}

#navbar a {
    color: white;
}

#navbar a:hover{
    color: #4daefe;
    text-decoration: none;
}

#navbar a.active-page {
    color: #4daefe;
    text-decoration: none;
}

#page-text {
    background-color: rgb(234,234,240);
    padding: 10px 20px 10px 10px;
    margin: 14px 10px 14px 6px;
}

#page-text ul {
    list-style-type: none;
    margin-left: 15px;
}

#page-text p {
    margin-left: 10px;
    font-family: arvo;
}

#page-text a {
    color: #4daefe;
}

#page-text a:hover {
    color: #4d82fe;
}

#page-text a:visited {
    color: #4d82fe;
}

#footer-content {
    height: 128px;
    text-align: center;
    padding-top: 40px;
    color: rgb(120,120,120);
    font-size: 10px;
}

#footer-links {
    font-size: 14px;
}

#footer-links a {
    color: #4daefe;
    font-weight: bold;
    font-size: 14px;
}

#footer-links a:hover {
    color: white;
    font-size: 15px;
    text-decoration: none;
}

#footer-links a:visited {
    color: #4d82fe;
}

#footer {
    border-top-style: solid;
    border-width: 2px;
    border-color: rgb(200,200,200);
    background-image: url("images/hatch.png");
}


